.welcome {
  margin: 7rem 0;
}

.welcomeTitle h1 {
  font-size: 2.9rem;
  text-align: center;
  line-height: 3.8rem;
  width: 70%;
  font-weight: 400;
  color: #2d434e;
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 1.1rem;
}

.welcomeTitle p {
  font-weight: 400;
  font-size: 1.15rem;
  color: rgb(93, 93, 93);
  font-family: "Nunito", sans-serif;
}
