/* Google Fonts */

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Fira Sans */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 245, 252);
}

a {
  text-decoration: none;
}

.container {
  padding: 0 11rem;
}

/* Library */
.flex {
  display: flex;
}

.alignCenter {
  align-items: center;
}

.justifyCenter {
  justify-content: center;
}
.justifyBetween {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.wp-100 {
  width: 100%;
}
.hp-100 {
  height: 100%;
}
